@import url("./reset.less");
@import url("./theme/index.less");
@import url("//at.alicdn.com/t/font_2888814_ux7dogzzg6c.css");
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 1px;
  position: absolute;
  right: 0;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 4px;
}

// 页面大小
@media screen and (max-width: 1300px) {
  .page-box {
    margin: 0 30px;
  }
}

@media screen and (min-width: 1300px) {
  .page-box {
    width: 1040px;
    margin: 0 auto;
  }
}

// 关键词高亮
span.keywords{
  color: #5a7cab!important;
}
