@import url("./reset.less");
@import url("./theme/index.less");

/* 滚动条样式 */
::-webkit-scrollbar{
width: 8px;
height: 1px;
position: absolute;
right: 0;
}
::-webkit-scrollbar-thumb{
width: 8px;
border-radius: 4px;
}

